In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json
from functools import reduce

In [2]:
#inflow
metro_2010="Resources/metro_2010.csv"
metro_2011="Resources/metro_2011.csv"
metro_2012="Resources/metro_2012.csv"
metro_2013="Resources/metro_2013.csv"
metro_2014="Resources/metro_2014.csv"
metro_2015="Resources/metro_2015.csv"
metro_2016="Resources/metro_2016.csv"
metro_2017="Resources/metro_2017.csv"
metro_2018="Resources/metro_2018.csv"
metro_2019="Resources/metro_2019.csv"

In [3]:
#estaciones
estaciones="Resources/estaciones-metro.csv"

In [4]:
metro_2010_df=pd.read_csv(metro_2010)
metro_2010_df.head()

   Year Line             Station    Influx
0  2010    1           Pantitlan  16457920
1  2010    1            Zaragoza  18756335
2  2010    1        Gomez Farias  14881486
3  2010    1  Blvd. Puerto Aereo  10596640
4  2010    1            Balbuena   4943778

In [5]:
metro_2011_df=pd.read_csv(metro_2011)
metro_2011_df.head()

   Year Line             Station    Influx
0  2011    1           Pantitlan  16077171
1  2011    1            Zaragoza  18959339
2  2011    1        Gomez Farias  15429736
3  2011    1  Blvd. Puerto Aereo  13718223
4  2011    1            Balbuena   6902582

In [6]:
metro_2012_df=pd.read_csv(metro_2012)
metro_2012_df.head()

   Year Line             Station    Influx
0  2012    1           Pantitlan  19068362
1  2012    1            Zaragoza  19636440
2  2012    1        Gomez Farias  13689263
3  2012    1  Blvd. Puerto Aereo  15955571
4  2012    1            Balbuena   8392031

In [7]:
metro_2013_df=pd.read_csv(metro_2013)
metro_2013_df.head()

   Year Line             Station    Influx
0  2013    1           Pantitlan  18063657
1  2013    1            Zaragoza  22357078
2  2013    1        Gomez Farias  15262126
3  2013    1  Blvd. Puerto Aereo  11028780
4  2013    1            Balbuena   5738939

In [8]:
metro_2014_df=pd.read_csv(metro_2014)
metro_2014_df.head()

   Year Line             Station    Influx
0  2014    1           Pantitlan  17153569
1  2014    1            Zaragoza  19655974
2  2014    1        Gomez Farias  15350466
3  2014    1  Blvd. Puerto Aereo  10768640
4  2014    1            Balbuena   5442959

In [9]:
metro_2015_df=pd.read_csv(metro_2015)
metro_2015_df.head()

     Year Line                Station    Influx
0    2015    1              Pantitlan  17320324
1    2015    1               Zaragoza  20570498
2    2015    1           Gomez Farias  15129911
3    2015    1     Blvd. Puerto Aereo  10789494
4    2015    1               Balbuena   5095489
5    2015    1              Moctezuma   9213638
6    2015    1             San Lazaro  11678375
7    2015    1             Candelaria   9325829
8    2015    1                 Merced  19444093
9    2015    1            Pino Suarez  12354196
10   2015    1     Isabel la Catolica   8494830
11   2015    1         Salto del Agua   8925514
12   2015    1               Balderas   8340249
13   2015    1             Cuauhtemoc   8350845
14   2015    1            Insurgentes  23113713
15   2015    1                Sevilla  12304257
16   2015    1            Chapultepec  21602139
17   2015    1            Juanacatlan   4546682
18   2015    1               Tacubaya  13293703
19   2015    1           Observatorio  27711208
20   2015    2         Cuatro Caminos  40423144
21   2015    2              Panteones   5492559
22   2015    2                 Tacuba  13944900
23   2015    2             Cuitlahuac   7103440
24   2015    2                Popotla   3857093
25   2015    2        Colegio Militar   5753827
26   2015    2                 Normal  13685576
27   2015    2              San Cosme  10473114
28   2015    2             Revolucion   6370493
29   2015    2                Hidalgo  13299542
..    ...  ...                    ...       ...
165  2015    B       Bosque de Aragon   2416316
166  2015    B        Villa de Aragon   5084941
167  2015    B         Nezahualcoyotl   8917944
168  2015    B              Impulsora   9069981
169  2015    B    Rio de los Remedios   8212009
170  2015    B                Muzquiz  11991588
171  2015    B               Ecatepec  10401816
172  2015    B               Olimpica   6649315
173  2015    B           Plaza Aragon   7384811
174  2015    B          Ciudad Azteca  23268879
175  2015   12                Tlahuac    908859
176  2015   12              Tlaltenco     68333
177  2015   12             Zapotitlan    315689
178  2015   12               Nopalera    422079
179  2015   12                 Olivos    373081
180  2015   12                Tezonco    432408
181  2015   12     Periferico Oriente   2164744
182  2015   12               Calle 11    635128
183  2015   12         Lomas Estrella    419847
184  2015   12    San Andres Tomatlan    450208
185  2015   12              Culhuacan    589953
186  2015   12              Atlalilco  13651138
187  2015   12          Mexicaltzingo   4458248
188  2015   12                 Ermita   2595462
189  2015   12            Eje Central   2417695
190  2015   12  Parque de los Venados   3021968
191  2015   12                 Zapata   3879253
192  2015   12        20 de Noviembre   3874660
193  2015   12        Insurgentes Sur   8977247
194  2015   12                Mixcoac   4280100

[195 rows x 4 columns]

In [10]:
metro_2016_df=pd.read_csv(metro_2016)
metro_2016_df.head()

   Year Line             Station    Influx
0  2016    1           Pantitlan  17181357
1  2016    1            Zaragoza  19093141
2  2016    1        Gomez Farias  14170037
3  2016    1  Blvd. Puerto Aereo   9663402
4  2016    1            Balbuena   4942850

In [11]:
metro_2017_df=pd.read_csv(metro_2017)
metro_2017_df.head()

   Year Line             Station    Influx
0  2017    1           Pantitlan  15461001
1  2017    1            Zaragoza  18655391
2  2017    1        Gomez Farias  11938118
3  2017    1  Blvd. Puerto Aereo   9012202
4  2017    1            Balbuena   4551153

In [12]:
metro_2018_df=pd.read_csv(metro_2018)
metro_2018_df.head()

   Year Line             Station    Influx
0  2018    1           Pantitlan  15986200
1  2018    1            Zaragoza  18168605
2  2018    1        Gomez Farias  12161295
3  2018    1  Blvd. Puerto Aereo   8351742
4  2018    1            Balbuena   4791005

In [13]:
metro_2019_df=pd.read_csv(metro_2019)
metro_2019_df.head()

   Year Line             Station    Influx
0  2019    1           Pantitlan   9434373
1  2019    1            Zaragoza  10048563
2  2019    1        Gomez Farias   6243719
3  2019    1  Blvd. Puerto Aereo   5054043
4  2019    1            Balbuena   2783452

In [14]:
metro_2019_df.Station.unique()

array(['Pantitlan', 'Zaragoza', 'Gomez Farias', 'Blvd. Puerto Aereo',
       'Balbuena', 'Moctezuma', 'San Lazaro', 'Candelaria', 'Merced',
       'Pino Suarez', 'Isabel la Catolica', 'Salto del Agua', 'Balderas',
       'Cuauhtemoc', 'Insurgentes', 'Sevilla', 'Chapultepec',
       'Juanacatlan', 'Tacubaya', 'Observatorio', 'Cuatro Caminos',
       'Panteones', 'Tacuba', 'Cuitlahuac', 'Popotla', 'Colegio Militar',
       'Normal', 'San Cosme', 'Revolucion', 'Hidalgo', 'Bellas Artes',
       'Allende', 'Zocalo', 'San Antonio Abad', 'Chabacano', 'Viaducto',
       'Xola', 'Villa de Cortes', 'Nativitas', 'Portales', 'Ermita',
       'General Anaya', 'Tasquena', 'Indios Verdes',
       'Deptvo. 18 de Marzo', 'Potrero', 'La Raza', 'Tlatelolco',
       'Guerrero', 'Juarez', 'Ninos Heroes', 'Hospital General',
       'Centro Medico', 'Etiopia', 'Eugenia', 'Division del Norte',
       'Zapata', 'Coyoacan', 'Viveros', 'Miguel angel de Quevedo',
       'Copilco', 'Universidad', 'Santa Anita', 'Jamaica',
       'Fray Servando', 'Morelos', 'Canal del Norte', 'Consulado',
       'Bondojito', 'Talisman', 'Martin Carrera', 'Politecnico',
       'Inst. del Petroleo', 'Autobuses del Norte', 'Misterios',
       'Valle Gomez', 'Eduardo Molina', 'Aragon', 'Oceania',
       'Terminal Aerea', 'Hangares', 'El Rosario', 'Tezozomoc',
       'Azcapotzalco', 'Ferreria', 'Norte 45', 'Vallejo', 'Lindavista',
       'La Villa-Basilica', 'Aquiles Serdan', 'Camarones', 'Refineria',
       'San Joaquin', 'Polanco', 'Auditorio', 'Constituyentes',
       'San Pedro los Pinos', 'San Antonio', 'Mixcoac',
       'Barranca del Muerto', 'Garibaldi', 'San Juan Letran', 'Doctores',
       'Obrera', 'La Viga', 'Coyuya', 'Iztacalco', 'Apatlaco', 'Aculco',
       'Escuadron 201', 'Atlalilco', 'Iztapalapa', 'Cerro de la Estrella',
       'UAM I', 'Constitucion de 1917', 'Puebla', 'Ciudad Deportiva',
       'Velodromo', 'Mixiuhca', 'Lazaro Cardenas', 'Chilpancingo',
       'Patriotismo', 'Agricola Oriental', 'Canal de San Juan',
       'Tepalcates', 'Guelatao', 'Penon Viejo', 'Acatitla', 'Santa Marta',
       'Los Reyes', 'La Paz', 'Buenavista', 'Lagunilla', 'Tepito',
       'Ricardo Flores Magon', 'Romero Rubio', 'Deportivo Oceania',
       'Bosque de Aragon', 'Villa de Aragon', 'Nezahualcoyotl',
       'Impulsora', 'Rio de los Remedios', 'Muzquiz', 'Tecnologico',
       'Olimpica', 'Plaza Aragon', 'Ciudad Azteca', 'Tlahuac',
       'Tlaltenco', 'Zapotitlan', 'Nopalera', 'Olivos', 'Tezonco',
       'Periferico Oriente', 'Calle 11', 'Lomas Estrella',
       'San Andres Tomatlan', 'Culhuacan', 'Mexicaltzingo', 'Eje Central',
       'Parque de los Venados', '20 de Noviembre', 'Insurgentes Sur'],
      dtype=object)

In [15]:
estaciones_df=pd.read_csv(estaciones)
estaciones_df.head()

,Geometry,stop_id,stop_code,Station,stop_desc,Latitude,Longitude,trip_heads,agency_id,Geopoint
0,"{u'type': u'Point', u'coordinates': [-99.17122...",14124,NaN,Colegio Militar,Metro 2,19.448646,-99.171224,Cuatro Caminos - Tasquena,METRO,"19.44864628, -99.17122364"
1,"{u'type': u'Point', u'coordinates': [-99.17658...",14119,NaN,Chapultepec,Metro 1,19.420256,-99.176588,Observatorio - Pantitlan,METRO,"19.42025648, -99.17658806"
2,"{u'type': u'Point', u'coordinates': [-99.10934...",14095,NaN,Apatlaco,Metro 8,19.378298,-99.109340,Garibaldi - Constitucion de 1917,METRO,"19.378298, -99.10934"
3,"{u'type': u'Point', u'coordinates': [-99.08486...",14234,NaN,Calle 11,Metro 12,19.320256,-99.084867,Tlahuac - Mixcoac,METRO,"19.32025578, -99.08486724"
4,"{u'type': u'Point', u'coordinates': [-99.08690...",14061,NaN,Oceania,Metro Linea 5 correspondencia con linea B.,19.445429,-99.086906,Pantitlan - Politecnico,METRO,"19.44542916, -99.08690572"

In [18]:
estaciones_df=estaciones_df[["stop_station","stop_lat","stop_lon"]]
estaciones_df.head()

           Station   Latitude  Longitude
0  Colegio Militar  19.448646 -99.171224
1      Chapultepec  19.420256 -99.176588
2         Apatlaco  19.378298 -99.109340
3         Calle 11  19.320256 -99.084867
4          Oceania  19.445429 -99.086906

In [19]:
last_estaciones_df=estaciones_df.rename(columns={"stop_station":"Station","stop_lat":"Latitude","stop_lon":"Longitude"})
last_estaciones_df.head()

In [20]:
descending_estaciones_df=last_estaciones_df.sort_values("Station",ascending=True)
descending_estaciones_df.head()

,Geometry,stop_id,stop_code,Station,stop_desc,Latitude,Longitude,trip_heads,agency_id,Geopoint
25,"{u'type': u'Point', u'coordinates': [-99.17099...",14241,NaN,20 de Noviembre,Metro 12,19.371924,-99.170998,Tlahuac - Mixcoac,METRO,"19.37192372, -99.17099833"
120,"{u'type': u'Point', u'coordinates': [-99.00597...",14204,NaN,Acatitla,Metro A,19.364252,-99.005978,La Paz - Pantitlan,METRO,"19.3642515, -99.00597811"
144,"{u'type': u'Point', u'coordinates': [-99.10739...",14087,NaN,Aculco,Metro 8,19.372926,-99.107398,Garibaldi - Constitucion de 1917,METRO,"19.37292574, -99.10739779"
17,"{u'type': u'Point', u'coordinates': [-99.06982...",14070,NaN,Agricola Oriental,Metro A,19.404046,-99.069825,La Paz - Pantitlan,METRO,"19.40404596, -99.06982541"
47,"{u'type': u'Point', u'coordinates': [-99.13670...",14163,NaN,Allende,Metro 2,19.435474,-99.136709,Cuatro Caminos - Tasquena,METRO,"19.43547387, -99.13670897"

In [21]:
no_index_estaciones=descending_estaciones_df.reset_index(drop=True)
no_index_estaciones.head()

,Geometry,stop_id,stop_code,Station,stop_desc,Latitude,Longitude,trip_heads,agency_id,Geopoint
0,"{u'type': u'Point', u'coordinates': [-99.17099...",14241,NaN,20 de Noviembre,Metro 12,19.371924,-99.170998,Tlahuac - Mixcoac,METRO,"19.37192372, -99.17099833"
1,"{u'type': u'Point', u'coordinates': [-99.00597...",14204,NaN,Acatitla,Metro A,19.364252,-99.005978,La Paz - Pantitlan,METRO,"19.3642515, -99.00597811"
2,"{u'type': u'Point', u'coordinates': [-99.10739...",14087,NaN,Aculco,Metro 8,19.372926,-99.107398,Garibaldi - Constitucion de 1917,METRO,"19.37292574, -99.10739779"
3,"{u'type': u'Point', u'coordinates': [-99.06982...",14070,NaN,Agricola Oriental,Metro A,19.404046,-99.069825,La Paz - Pantitlan,METRO,"19.40404596, -99.06982541"
4,"{u'type': u'Point', u'coordinates': [-99.13670...",14163,NaN,Allende,Metro 2,19.435474,-99.136709,Cuatro Caminos - Tasquena,METRO,"19.43547387, -99.13670897"

In [22]:
last_estaciones=no_index_estaciones.drop_duplicates(subset=['Station'])
last_estaciones.reset_index(drop=True)
last_estaciones.head()

,Geometry,stop_id,stop_code,Station,stop_desc,Latitude,Longitude,trip_heads,agency_id,Geopoint
0,"{u'type': u'Point', u'coordinates': [-99.17099...",14241,NaN,20 de Noviembre,Metro 12,19.371924,-99.170998,Tlahuac - Mixcoac,METRO,"19.37192372, -99.17099833"
1,"{u'type': u'Point', u'coordinates': [-99.00597...",14204,NaN,Acatitla,Metro A,19.364252,-99.005978,La Paz - Pantitlan,METRO,"19.3642515, -99.00597811"
2,"{u'type': u'Point', u'coordinates': [-99.10739...",14087,NaN,Aculco,Metro 8,19.372926,-99.107398,Garibaldi - Constitucion de 1917,METRO,"19.37292574, -99.10739779"
3,"{u'type': u'Point', u'coordinates': [-99.06982...",14070,NaN,Agricola Oriental,Metro A,19.404046,-99.069825,La Paz - Pantitlan,METRO,"19.40404596, -99.06982541"
4,"{u'type': u'Point', u'coordinates': [-99.13670...",14163,NaN,Allende,Metro 2,19.435474,-99.136709,Cuatro Caminos - Tasquena,METRO,"19.43547387, -99.13670897"

In [23]:
##SEND DATA FRAME TO CSV
#last_estaciones.to_csv("Resources/Clean_Stations.csv", index=False)

In [24]:
new_metro_2010= metro_2010_df.groupby(["Station"])

total_influx_2010=new_metro_2010['Influx'].sum()


new_metro_2010_df=pd.DataFrame({"Total_influx_2010":total_influx_2010})


new_metro_2010_df_clean=new_metro_2010_df.reset_index()
new_metro_2010_df_clean.head()

             Station  Total_influx_2010
0           Acatitla            5033111
1             Aculco            3780719
2  Agricola Oriental            3296302
3            Allende           11269920
4           Apatlaco            4008599

In [25]:
new_metro_2011= metro_2011_df.groupby(["Station"])

total_influx_2011=new_metro_2011['Influx'].sum()


new_metro_2011_df=pd.DataFrame({"Total_influx_2011":total_influx_2011})


new_metro_2011_df_clean=new_metro_2011_df.reset_index()
new_metro_2011_df_clean.head()

             Station  Total_influx_2011
0           Acatitla            7232931
1             Aculco            4845474
2  Agricola Oriental            4343869
3            Allende           13272135
4           Apatlaco            5676621

In [26]:
new_metro_2012= metro_2012_df.groupby(["Station"])

total_influx_2012=new_metro_2012['Influx'].sum()


new_metro_2012_df=pd.DataFrame({"Total_influx_2012":total_influx_2012})


new_metro_2012_df_clean=new_metro_2012_df.reset_index()
new_metro_2012_df_clean.head()

             Station  Total_influx_2012
0    20 de Noviembre             367033
1           Acatitla            5182670
2             Aculco            3670704
3  Agrícola Oriental            3724121
4            Allende           14245066

In [27]:
new_metro_2013= metro_2013_df.groupby(["Station"])

total_influx_2013=new_metro_2013['Influx'].sum()


new_metro_2013_df=pd.DataFrame({"Total_influx_2013":total_influx_2013})


new_metro_2013_df_clean=new_metro_2013_df.reset_index()
new_metro_2013_df_clean.head()

             Station  Total_influx_2013
0    20 de Noviembre            3269417
1           Acatitla            4949291
2             Aculco            3486566
3  Agricola Oriental            3470231
4            Allende           14078777

In [28]:
new_metro_2014= metro_2014_df.groupby(["Station"])

total_influx_2014=new_metro_2014['Influx'].sum()


new_metro_2014_df=pd.DataFrame({"Total_influx_2014":total_influx_2014})


new_metro_2014_df_clean=new_metro_2014_df.reset_index()
new_metro_2014_df_clean.head()

             Station  Total_influx_2014
0    20 de Noviembre            3607568
1           Acatitla            4961783
2             Aculco            3416587
3  Agricola Oriental            3874686
4            Allende           12681968

In [29]:
new_metro_2015= metro_2015_df.groupby(["Station"])

total_influx_2015=new_metro_2015['Influx'].sum()


new_metro_2015_df=pd.DataFrame({"Total_influx_2015":total_influx_2015})


new_metro_2015_df_clean=new_metro_2015_df.reset_index()
new_metro_2015_df_clean.head()

             Station  Total_influx_2015
0    20 de Noviembre            3874660
1           Acatitla            3768231
2             Aculco            3436202
3  Agricola Oriental            3795431
4            Allende           11808693

In [30]:
new_metro_2016= metro_2016_df.groupby(["Station"])

total_influx_2016=new_metro_2016['Influx'].sum()


new_metro_2016_df=pd.DataFrame({"Total_influx_2016":total_influx_2016})


new_metro_2016_df_clean=new_metro_2016_df.reset_index()
new_metro_2016_df_clean.head()

             Station  Total_influx_2016
0    20 de Noviembre            4150150
1           Acatitla            4832704
2             Aculco            3247038
3  Agricola Oriental            3626499
4            Allende           11425327

In [31]:
new_metro_2017= metro_2017_df.groupby(["Station"])

total_influx_2017=new_metro_2017['Influx'].sum()


new_metro_2017_df=pd.DataFrame({"Total_influx_2017":total_influx_2017})


new_metro_2017_df_clean=new_metro_2017_df.reset_index()
new_metro_2017_df_clean.head()

             Station  Total_influx_2017
0    20 de Noviembre            4215476
1           Acatitla            4905853
2             Aculco            3152734
3  Agricola Oriental            3651505
4            Allende           10920111

In [32]:
new_metro_2018= metro_2018_df.groupby(["Station"])

total_influx_2018=new_metro_2018['Influx'].sum()


new_metro_2018_df=pd.DataFrame({"Total_influx_2018":total_influx_2018})


new_metro_2018_df_clean=new_metro_2018_df.reset_index()
new_metro_2018_df_clean.head()

             Station  Total_influx_2018
0    20 de Noviembre            4326521
1           Acatitla            5340589
2             Aculco            3523188
3  Agricola Oriental            3933652
4            Allende           10605916

In [33]:
new_metro_2019= metro_2019_df.groupby(["Station"])

total_influx_2019=new_metro_2019['Influx'].sum()


new_metro_2019_df=pd.DataFrame({"Total_influx_2019":total_influx_2019})


new_metro_2019_df_clean=new_metro_2019_df.reset_index()
new_metro_2019_df_clean.head()

             Station  Total_influx_2019
0    20 de Noviembre            2480476
1           Acatitla            3270609
2             Aculco            2040507
3  Agricola Oriental            2345852
4            Allende            5847670

In [34]:
final_df=[new_metro_2012_df_clean,new_metro_2013_df_clean,new_metro_2014_df_clean,new_metro_2015_df_clean,new_metro_2016_df_clean,new_metro_2017_df_clean,new_metro_2018_df_clean,new_metro_2019_df_clean]
total_final_df=reduce(lambda right,left: pd.merge(right,left,on='Station'), final_df)
total_final_df

,Station,Total_influx_2012,Total_influx_2013,Total_influx_2014,Total_influx_2015,Total_influx_2016,Total_influx_2017,Total_influx_2018,Total_influx_2019
0,20 de Noviembre,367033,3269417,3607568,3874660,4150150,4215476,4326521,2480476
1,Acatitla,5182670,4949291,4961783,3768231,4832704,4905853,5340589,3270609
2,Aculco,3670704,3486566,3416587,3436202,3247038,3152734,3523188,2040507
3,Allende,14245066,14078777,12681968,11808693,11425327,10920111,10605916,5847670
4,Apatlaco,4832943,4370291,4811139,5073278,5243455,5332327,4894955,2949629
5,Aquiles Serdan,7146988,6317053,5904210,5612941,6057188,5765053,5803378,3279949
6,Aragon,2929011,2732838,2703820,2669995,2619656,2624161,2733501,1570730
7,Atlalilco,6923536,8993418,19969711,19224328,9987470,9822993,10606560,6219024
8,Auditorio,11000976,10900220,11063269,11520226,12218504,12096093,11693911,7372418
9,Autobuses del Norte,8892726,9019743,8637817,8591750,8682345,8211462,8357253,4680911
10,Azcapotzalco,2712965,2630544,2834420,3166394,3058994,2970709,2935018,1647256
11,Balbuena,8392031,5738939,5442959,5095489,4942850,4551153,4791005,2783452
12,Balderas,12405010,11119396,11287903,11172304,11136384,10650748,10348712,5855103
13,Barranca del Muerto,11918034,13802760,13282149,13694853,14508378,15078243,16085373,9500034
14,Bellas Artes,16206740,18260665,18080634,19652747,20105901,19419770,19340059,12534182
15,Blvd. Puerto Aereo,15955571,11028780,10768640,10789494,9663402,9012202,8351742,5054043
16,Bondojito,2587731,2372217,2323324,2438388,2459781,2296986,2393689,1341692
17,Bosque de Aragon,2515504,2561524,2439730,2416316,2496091,2352976,2234978,1167794
18,Buenavista,19339419,21180420,20722413,21507558,21423610,21644709,22023270,12474577
19,Calle 11,594520,4493840,858889,635128,4425985,4688487,5013591,2996583
20,Camarones,5652396,5512976,5420195,5503112,5508612,5285813,5694915,3298864
21,Canal de San Juan,4812479,4877568,4829138,4417962,4621885,4547862,4440479,2613989
22,Canal del Norte,3170307,3408574,3305855,3366157,3252661,3239834,3265854,1818125
23,Candelaria,11074886,11397227,12026459,12086671,11901331,11494887,11347450,6428141
24,Centro Medico,12193702,13337638,12845255,12864898,13120811,12853598,13213080,6805899
25,Cerro de la Estrella,7139771,4366303,4152718,3692482,4022013,4062511,4326059,2526790
26,Chabacano,17759590,14080374,14995687,15599469,15664446,15686927,16416745,8903161
27,Chapultepec,17522093,20515860,20433581,21602139,20586480,19281783,19363646,11267894
28,Chilpancingo,11246708,16785180,15546166,16205591,16059326,15544376,14924903,7699003
29,Ciudad Azteca,23647562,23999979,22693910,23268879,22574939,20861402,21343822,12438922
...,...,...,...,...,...,...,...,...,...
124,San Lazaro,17515310,16161429,16593908,17349867,17641650,16376779,16286672,13775812
125,San Pedro los Pinos,4097163,3884675,4541571,4948137,5070899,4775143,4905337,2902321
126,Santa Anita,6281599,3308158,3512594,3231383,3236012,3177704,3385451,1047908
127,Santa Marta,9730073,9607048,9415574,7151062,9326927,9027384,9620244,5785105
128,Sevilla,9766457,11660193,11700900,12304257,12539284,11354446,11062555,6428253
129,Tacuba,16431007,16930082,16706961,16795826,16586292,15619917,15054508,13560396
130,Tacubaya,43822311,33619008,33041979,33436555,33692967,32359469,32259965,22280359
131,Talisman,2472665,2296547,2248090,2276807,2097842,2031195,2020237,1109717
132,Tepalcates,6307928,5247805,5399036,5953370,6241923,5142008,6314510,3661048
133,Tepito,8622465,9453517,8634901,7855334,8151741,7558104,7942264,4510676
134,Terminal Aerea,5477872,5536824,5734509,5937008,6117190,6282484,6637343,3802629
135,Tezonco,730918,6137160,1234198,432408,6295461,7320523,7883028,4728555
136,Tezozomoc,2901291,2323243,2071986,2046316,2031143,2018009,2111277,1195104
137,Tlahuac,1500495,12620535,2646806,908859,14475541,15084248,18625102,11669991
138,Tlaltenco,100733,783193,148671,68333,864854,898824,1118914,709992
139,Tlatelolco,9160297,8419675,7815836,8057191,7857136,7408684,7323374,4214092
140,UAM I,10858900,8854542,9234074,9113491,8796002,8846453,9406548,5198442
141,Universidad,28760314,26934814,26205477,26367195,27022576,26726286,27199538,14861953
142,Valle Gomez,1681310,1621149,1607802,1636122,1657884,1620478,1662292,926427
143,Vallejo,2448881,2390019,2499407,2657493,3052441,2818557,2774548,1659671
144,Velodromo,3975466,3517196,3215791,3303363,3401904,3271933,3253838,1625678
145,Viaducto,9682098,8596630,7903530,7711654,7597169,7591103,7713645,4208439
146,Villa de Aragon,5216530,5296168,4979959,5084941,5147843,5025145,5314564,2951006
147,Villa de Cortes,7869692,7030335,6974986,6881406,6772031,6477842,6162928,3627384
148,Viveros,10018003,9181461,8676216,8517180,8495111,8034608,7829573,4458305
149,Xola,10803113,7943060,7539018,7954990,7785715,7698179,8037593,4689290
150,Zapata,12192079,15541824,14243584,14438725,14405744,14396276,13955475,10568506
151,Zapotitlan,556812,4099359,785447,315689,4134438,3947346,4614901,2822496
152,Zaragoza,19636440,22357078,19655974,20570498,19093141,18655391,18168605,10048563
153,Zocalo,19651029,25244785,26402602,26229616,26678428,25648342,26421132,14917058

In [35]:
# Merge two dataframes using an outer join
table_inflow_coordinates = pd.merge(total_final_df, last_estaciones, on="Station", how="outer")
table_inflow_coordinates

,Station,Total_influx_2012,Total_influx_2013,Total_influx_2014,Total_influx_2015,Total_influx_2016,Total_influx_2017,Total_influx_2018,Total_influx_2019,Geometry,stop_id,stop_code,stop_desc,Latitude,Longitude,trip_heads,agency_id,Geopoint
0,20 de Noviembre,367033.0,3269417.0,3607568.0,3874660.0,4150150.0,4215476.0,4326521.0,2480476.0,"{u'type': u'Point', u'coordinates': [-99.17099...",14241.0,NaN,Metro 12,19.371924,-99.170998,Tlahuac - Mixcoac,METRO,"19.37192372, -99.17099833"
1,Acatitla,5182670.0,4949291.0,4961783.0,3768231.0,4832704.0,4905853.0,5340589.0,3270609.0,"{u'type': u'Point', u'coordinates': [-99.00597...",14204.0,NaN,Metro A,19.364252,-99.005978,La Paz - Pantitlan,METRO,"19.3642515, -99.00597811"
2,Aculco,3670704.0,3486566.0,3416587.0,3436202.0,3247038.0,3152734.0,3523188.0,2040507.0,"{u'type': u'Point', u'coordinates': [-99.10739...",14087.0,NaN,Metro 8,19.372926,-99.107398,Garibaldi - Constitucion de 1917,METRO,"19.37292574, -99.10739779"
3,Allende,14245066.0,14078777.0,12681968.0,11808693.0,11425327.0,10920111.0,10605916.0,5847670.0,"{u'type': u'Point', u'coordinates': [-99.13670...",14163.0,NaN,Metro 2,19.435474,-99.136709,Cuatro Caminos - Tasquena,METRO,"19.43547387, -99.13670897"
4,Apatlaco,4832943.0,4370291.0,4811139.0,5073278.0,5243455.0,5332327.0,4894955.0,2949629.0,"{u'type': u'Point', u'coordinates': [-99.10934...",14095.0,NaN,Metro 8,19.378298,-99.109340,Garibaldi - Constitucion de 1917,METRO,"19.378298, -99.10934"
5,Aquiles Serdan,7146988.0,6317053.0,5904210.0,5612941.0,6057188.0,5765053.0,5803378.0,3279949.0,"{u'type': u'Point', u'coordinates': [-99.19451...",14131.0,NaN,Metro 7,19.489367,-99.194511,Barranca del Muerto - El Rosario,METRO,"19.489367, -99.194511"
6,Aragon,2929011.0,2732838.0,2703820.0,2669995.0,2619656.0,2624161.0,2733501.0,1570730.0,"{u'type': u'Point', u'coordinates': [-99.09598...",14060.0,NaN,Metro 5,19.451014,-99.095982,Pantitlan - Politecnico,METRO,"19.45101356, -99.09598231"
7,Atlalilco,6923536.0,8993418.0,19969711.0,19224328.0,9987470.0,9822993.0,10606560.0,6219024.0,"{u'type': u'Point', u'coordinates': [-99.10157...",14066.0,NaN,Metro Linea 8 correspondencia con linea 12.,19.355708,-99.101572,Garibaldi - Constitucion de 1917,METRO,"19.35570839, -99.10157204"
8,Auditorio,11000976.0,10900220.0,11063269.0,11520226.0,12218504.0,12096093.0,11693911.0,7372418.0,"{u'type': u'Point', u'coordinates': [-99.19173...",14115.0,NaN,Metro 7,19.425305,-99.191737,Barranca del Muerto - El Rosario,METRO,"19.42530549, -99.19173717"
9,Autobuses del Norte,8892726.0,9019743.0,8637817.0,8591750.0,8682345.0,8211462.0,8357253.0,4680911.0,"{u'type': u'Point', u'coordinates': [-99.14047...",14193.0,NaN,Metro 5,19.478595,-99.140471,Pantitlan - Politecnico,METRO,"19.478595, -99.140471"
10,Azcapotzalco,2712965.0,2630544.0,2834420.0,3166394.0,3058994.0,2970709.0,2935018.0,1647256.0,"{u'type': u'Point', u'coordinates': [-99.18621...",14129.0,NaN,Metro 6,19.490676,-99.186212,Martin Carrera - El Rosario,METRO,"19.49067553, -99.18621182"
11,Balbuena,8392031.0,5738939.0,5442959.0,5095489.0,4942850.0,4551153.0,4791005.0,2783452.0,"{u'type': u'Point', u'coordinates': [-99.10281...",14172.0,NaN,Metro 1,19.422887,-99.102817,Observatorio - Pantitlan,METRO,"19.42288725, -99.10281658"
12,Balderas,12405010.0,11119396.0,11287903.0,11172304.0,11136384.0,10650748.0,10348712.0,5855103.0,"{u'type': u'Point', u'coordinates': [-99.14881...",14139.0,NaN,Metro Linea 3 correspondencia con linea 1.,19.426924,-99.148811,Indios Verdes - Universidad,METRO,"19.42692438, -99.1488111"
13,Barranca del Muerto,11918034.0,13802760.0,13282149.0,13694853.0,14508378.0,15078243.0,16085373.0,9500034.0,"{u'type': u'Point', u'coordinates': [-99.18895...",14080.0,NaN,Metro 7,19.361488,-99.188958,Barranca del Muerto - El Rosario,METRO,"19.3614882, -99.18895841"
14,Bellas Artes,16206740.0,18260665.0,18080634.0,19652747.0,20105901.0,19419770.0,19340059.0,12534182.0,"{u'type': u'Point', u'coordinates': [-99.14061...",14141.0,NaN,Metro Linea 8 correspondencia con linea 2.,19.436496,-99.140614,Garibaldi - Constitucion de 1917,METRO,"19.43649573, -99.14061427"
15,Blvd. Puerto Aereo,15955571.0,11028780.0,10768640.0,10789494.0,9663402.0,9012202.0,8351742.0,5054043.0,"{u'type': u'Point', u'coordinates': [-99.09606...",14053.0,NaN,Metro 1,19.419589,-99.096068,Observatorio - Pantitlan,METRO,"19.41958866, -99.09606814"
16,Bondojito,2587731.0,2372217.0,2323324.0,2438388.0,2459781.0,2296986.0,2393689.0,1341692.0,"{u'type': u'Point', u'coordinates': [-99.11175...",14102.0,NaN,Metro 4,19.464508,-99.111754,Martin Carrera - Santa Anita,METRO,"19.46450842, -99.1117537"
17,Bosque de Aragon,2515504.0,2561524.0,2439730.0,2416316.0,2496091.0,2352976.0,2234978.0,1167794.0,"{u'type': u'Point', u'coordinates': [-99.06927...",14219.0,NaN,Metro B,19.458075,-99.069278,Buenavista - Ciudad Azteca,METRO,"19.45807473, -99.06927824"
18,Buenavista,19339419.0,21180420.0,20722413.0,21507558.0,21423610.0,21644709.0,22023270.0,12474577.0,"{u'type': u'Point', u'coordinates': [-99.15289...",14170.0,NaN,Metro B,19.446158,-99.152899,Buenavista - Ciudad Azteca,METRO,"19.44615757, -99.15289879"
19,Calle 11,594520.0,4493840.0,858889.0,635128.0,4425985.0,4688487.0,5013591.0,2996583.0,"{u'type': u'Point', u'coordinates': [-99.08486...",14234.0,NaN,Metro 12,19.320256,-99.084867,Tlahuac - Mixcoac,METRO,"19.32025578, -99.08486724"
20,Camarones,5652396.0,5512976.0,5420195.0,5503112.0,5508612.0,5285813.0,5694915.0,3298864.0,"{u'type': u'Point', u'coordinates': [-99.18894...",14132.0,NaN,Metro 7,19.478730,-99.188948,Barranca del Muerto - El Rosario,METRO,"19.47873042, -99.18894768"
21,Canal de San Juan,4812479.0,4877568.0,4829138.0,4417962.0,4621885.0,4547862.0,4440479.0,2613989.0,"{u'type': u'Point', u'coordinates': [-99.05969...",14071.0,NaN,Metro A,19.398217,-99.059697,La Paz - Pantitlan,METRO,"19.39821706, -99.05969739"
22,Canal del Norte,3170307.0,3408574.0,3305855.0,3366157.0,3252661.0,3239834.0,3265854.0,1818125.0,"{u'type': u'Point', u'coordinates': [-99.11589...",14181.0,NaN,Metro 4,19.448667,-99.115895,Martin Carrera - Santa Anita,METRO,"19.44866652, -99.11589503"
23,Candelaria,11074886.0,11397227.0,12026459.0,12086671.0,11901331.0,11494887.0,11347450.0,6428141.0,"{u'type': u'Point', u'coordinates': [-99.11989...",14134.0,NaN,Metro Linea 1 correspondencia con linea 4.,19.429100,-99.119897,Observatorio - Pantitlan,METRO,"19.42909974, -99.11989689"
24,Centro Medico,12193702.0,13337638.0,12845255.0,12864898.0,13120811.0,12853598.0,13213080.0,6805899.0,"{u'type': u'Point', u'coordinates': [-99.15504...",14109.0,NaN,Metro Linea 9 correspondencia con linea 3.,19.406363,-99.155045,Tacubaya - Pantitlan,METRO,"19.40636329, -99.15504456"
25,Cerro de la Estrella,7139771.0,4366303.0,4152718.0,3692482.0,4022013.0,4062511.0,4326059.0,2526790.0,"{u'type': u'Point', u'coordinates': [-99.08587...",14203.0,NaN,Metro 8,19.355601,-99.085872,Garibaldi - Constitucion de 1917,METRO,"19.355601, -99.085872"
26,Chabacano,17759590.0,14080374.0,14995687.0,15599469.0,15664446.0,15686927.0,16416745.0,8903161.0,"{u'type': u'Point', u'coordinates': [-99.13548...",14145.0,NaN,Metro Linea 9 correspondencia con linea 2 y li...,19.408513,-99.135489,Tacubaya - Pantitlan,METRO,"19.408513, -99.135489"
27,Chapultepec,17522093.0,20515860.0,20433581.0,21602139.0,20586480.0,19281783.0,19363646.0,11267894.0,"{u'type': u'Point', u'coordinates': [-99.17658...",14119.0,NaN,Metro 1,19.420256,-99.176588,Observatorio - Pantitlan,METRO,"19.42025648, -99.17658806"
28,Chilpancingo,11246708.0,16785180.0,15546166.0,16205591.0,16059326.0,15544376.0,14924903.0,7699003.0,"{u'type': u'Point', u'coordinates': [-99.16830...",14110.0,NaN,Metro 9,19.405756,-99.168305,Tacubaya - Pantitlan,METRO,"19.40575613, -99.1683054"
29,Ciudad Azteca,23647562.0,23999979.0,22693910.0,23268879.0,22574939.0,20861402.0,21343822.0,12438922.0,"{u'type': u'Point', u'coordinates': [-99.02711...",14208.0,NaN,Metro B,19.534443,-99.027114,Buenavista - Ciudad Azteca,METRO,"19.53444312, -99.02711391"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,Terminal Aerea,5477872.0,5536824.0,5734509.0,5937008.0,6117190.0,6282484.0,6637343.0,3802629.0,"{u'type': u'Point', u'coordinates': [-99.08820...",14212.0,NaN,Metro 5,19.433804,-99.088204,Pantitlan - Politecnico,METRO,"19.43380448, -99.08820391"
135,Tezonco,730918.0,6137160.0,1234198.0,432408.0,6295461.0,7320523.0,7883028.0,4728555.0,"{u'type': u'Point', u'coordinates': [-99.06586...",14232.0,NaN,Metro 12,19.306124,-99.065867,Tlahuac - Mixcoac,METRO,"19.306124, -99.065867"
136,Tezozomoc,2901291.0,2323243.0,2071986.0,2046316.0,2031143.0,2018009.0,2111277.0,1195104.0,"{u'type': u'Point', u'coordinates': [-99.19593...",14128.0,NaN,Metro 6,19.494488,-99.195932,Martin Carrera - El Rosario,METRO,"19.49448847, -99.19593215"
137,Tlahuac,1500495.0,12620535.0,2646806.0,908859.0,14475541.0,15084248.0,18625102.0,11669991.0,"{u'type': u'Point', u'coordinates': [-99.01443...",14227.0,NaN,Metro 12,19.286801,-99.014432,Tlahuac - Mixcoac,METRO,"19.28680057, -99.01443243"
138,Tlaltenco,100733.0,783193.0,148671.0,68333.0,864854.0,898824.0,1118914.0,709992.0,"{u'type': u'Point', u'coordinates': [-99.02382...",14228.0,NaN,Metro 12,19.294555,-99.023829,Tlahuac - Mixcoac,METRO,"19.294555, -99.023829"
139,Tlatelolco,9160297.0,8419675.0,7815836.0,8057191.0,7857136.0,7408684.0,7323374.0,4214092.0,"{u'type': u'Point', u'coordinates': [-99.14308...",14100.0,NaN,Metro 3,19.455202,-99.143082,Indios Verdes - Universidad,METRO,"19.45520174, -99.1430819"
140,UAM I,10858900.0,8854542.0,9234074.0,9113491.0,8796002.0,8846453.0,9406548.0,5198442.0,"{u'type': u'Point', u'coordinates': [-99.07480...",14201.0,NaN,Metro 8,19.350327,-99.074808,Garibaldi - Constitucion de 1917,METRO,"19.350327, -99.074808"
141,Universidad,28760314.0,26934814.0,26205477.0,26367195.0,27022576.0,26726286.0,27199538.0,14861953.0,"{u'type': u'Point', u'coordinates': [-99.17407...",14076.0,NaN,Metro 3,19.324336,-99.174078,Indios Verdes - Universidad,METRO,"19.32433595, -99.17407751"
142,Valle Gomez,1681310.0,1621149.0,1607802.0,1636122.0,1657884.0,1620478.0,1662292.0,926427.0,"{u'type': u'Point', u'coordinates': [-99.11988...",14140.0,NaN,Metro 5,19.458682,-99.119886,Pantitlan - Politecnico,METRO,"19.45868169, -99.11988616"
143,Vallejo,2448881.0,2390019.0,2499407.0,2657493.0,3052441.0,2818557.0,2774548.0,1659671.0,"{u'type': u'Point', u'coordinates': [-99.15479...",14106.0,NaN,Metro 6,19.490311,-99.154798,Martin Carrera - El Rosario,METRO,"19.49031142, -99.15479779"
144,Velodromo,3975466.0,3517196.0,3215791.0,3303363.0,3401904.0,3271933.0,3253838.0,1625678.0,"{u'type': u'Point', u'coordinates': [-99.10283...",14176.0,NaN,Metro 9,19.408114,-99.102838,Tacubaya - Pantitlan,METRO,"19.40811392, -99.10283804"
145,Viaducto,9682098.0,8596630.0,7903530.0,7711654.0,7597169.0,7591103.0,7713645.0,4208439.0,"{u'type': u'Point', u'coordinates': [-99.13663...",14056.0,NaN,Metro 2,19.400747,-99.136634,Cuatro Caminos - Tasquena,METRO,"19.40074699, -99.13663387"
146,Villa de Aragon,5216530.0,5296168.0,4979959.0,5084941.0,5147843.0,5025145.0,5314564.0,2951006.0,"{u'type': u'Point', u'coordinates': [-99.06114...",14211.0,NaN,Metro B,19.461352,-99.061146,Buenavista - Ciudad Azteca,METRO,"19.4613523, -99.06114578"
147,Villa de Cortes,7869692.0,7030335.0,6974986.0,6881406.0,6772031.0,6477842.0,6162928.0,3627384.0,"{u'type': u'Point', u'coordinates': [-99.13862...",14092.0,NaN,Metro 2,19.387469,-99.138629,Cuatro Caminos - Tasquena,METRO,"19.38746949, -99.13862944"
148,Viveros,10018003.0,9181461.0,8676216.0,8517180.0,8495111.0,8034608.0,7829573.0,4458305.0,"{u'type': u'Point', u'coordinates': [-99.17542...",14081.0,NaN,Metro 3,19.353765,-99.175429,Indios Verdes - Universidad,METRO,"19.35376487, -99.17542934"
149,Xola,10803113.0,7943060.0,7539018.0,7954990.0,7785715.0,7698179.0,8037593.0,4689290.0,"{u'type': u'Point', u'coordinates': [-99.13758...",14057.0,NaN,Metro 2,19.395029,-99.137589,Cuatro Caminos - Tasquena,METRO,"19.3950293, -99.13758874"
150,Zapata,12192079.0,15541824.0,14243584.0,14438725.0,14405744.0,14396276.0,13955475.0,10568506.0,"{u'type': u'Point', u'coordinates': [-99.16540...",42432.0,NaN,Metro Linea 12 correspondencia con linea 3.,19.370547,-99.165409,Tlahuac - Mixcoac,METRO,"19.3705472, -99.16540861"
151,Zapotitlan,556812.0,4099359.0,785447.0,315689.0,4134438.0,3947346.0,4614901.0,2822496.0,"{u'type': u'Point', u'coordinates': [-99.03402...",14229.0,NaN,Metro 12,19.296390,-99.034023,Tlahuac - Mixcoac,METRO,"19.29639028, -99.03402328"
152,Zaragoza,19636440.0,22357078.0,19655974.0,20570498.0,19093141.0,18655391.0,18168605.0,10048563.0,"{u'type': u'Point', u'coordinates': [-99.08322...",14217.0,NaN,Metro 1,19.411797,-99.083226,Observatorio - Pantitlan,METRO,"19.41179726, -99.08322573"
153,Zocalo,19651029.0,25244785.0,26402602.0,26229616.0,26678428.0,25648342.0,26421132.0,14917058.0,"{u'type': u'Point', u'coordinates': [-99.13187...",14136.0,NaN,Metro 2,19.432602,-99.131879,Cuatro Caminos - Tasquena,METRO,"19.432602, -99.131879"
154,Agricola Oriental,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{u'type': u'Point', u'coordinates': [-99.06982...",14070.0,NaN,Metro A,19.404046,-99.069825,La Paz - Pantitlan,METRO,"19.40404596, -99.06982541"
155,Constitucion de 1917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{u'type': u'Point', u'coordinates': [-99.06336...",14202.0,NaN,Metro 8,19.345135,-99.063367,Garibaldi - Constitucion de 1917,METRO,"19.345135, -99.063367"
156,Escuadron 201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{u'type': u'Point', u'coordinates': [-99.10931...",14088.0,NaN,Metro 8,19.364494,-99.109318,Garibaldi - Constitucion de 1917,METRO,"19.36449442, -99.10931826"
157,Etiopia / Plaza de la Transpatencia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{u'type': u'Point', u'coordinates': [-99.15617...",14059.0,NaN,Metro 3,19.396041,-99.156171,Indios Verdes - Universidad,METRO,"19.39604129, -99.15617108"
158,Miguel angel de Quevedo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{u'type': u'Point', u'coordinates': [-99.18053...",14082.0,NaN,Metro 3,19.346517,-99.180536,Indios Verdes - Universidad,METRO,"19.34651696, -99.18053627"
159,Ninos Heroes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{u'type': u'Point', u'coordinates': [-99.15023...",14151.0,NaN,Metro 3,19.419467,-99.150238,Indios Verdes - Universidad,METRO,"19.41946724, -99.15023804"
160,Penon Viejo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{u'type': u'Point', u'coordinates': [-99.01728...",14199.0,NaN,Metro A,19.372916,-99.017286,La Paz - Pantitlan,METRO,"19.37291562, -99.0172863"
161,Periferico Oriente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{u'type': u'Point', u'coordinates': [-99.07471...",14233.0,NaN,Metro 12,19.317492,-99.074719,Tlahuac - Mixcoac,METRO,"19.317492, -99.074719"
162,Tasquena,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{u'type': u'Point', u'coordinates': [-99.14105...",14090.0,NaN,Metro 2,19.344006,-99.141054,Cuatro Caminos - Tasquena,METRO,"19.34400644, -99.14105415"
163,Tecnologico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{u'type': u'Point', u'coordinates': [-99.03568...",14225.0,NaN,Metro B,19.514705,-99.035686,Buenavista - Ciudad Azteca,METRO,"19.51470467, -99.03568625"

In [35]:
####SEND DATA FRAME TO CSV
##table_inflow_coordinates.to_csv("Resources/Inflow_coordinates.csv",index=False)